@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');
body
{
  margin: 0;
  padding: 0;
  background-color: #1B3045;
  font-family: 'Nunito', sans-serif;
}

.title
{
  width: 100px;
  position: absolute;
  left:640px;
  top:30px;
  display: flex;
  font-family: 'Nunito', sans-serif;
  font-size: 35px;
}

.container
{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1500px;
  flex-wrap: wrap;
  padding: 20px 0;
}

.container .card
{
  position: relative;
  top:150px;
  width: 300px;
  height: 400px;
  box-shadow: inset 5px 5px 5px rgba(0,0,0,0.05);
              inset -5px -5px 5px rgba(0,0,0,0.05);
              5px 5px 5px rgba(0,0,0,0.05);
              -5px -5px 5px rgba(0,0,0,0.05);
  border-radius: 15px;
  margin: 30px;
}

.container .card .box
{
  position: absolute;
  top :20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background: #ebf5fc;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  display: flex;
  justify-content:center;
  align-items: center;
}

.container .card:hover .box
{
  transform: translateY(-50px);
  box-shadow: 0 10px 40px rgba(0,0,0,0.2);
  background: linear-gradient(1deg,#A8E6CF,#FFD3B6);
}

.container .card .box .content
{
  padding: 20px;
  text-align: center;
}

.container .card .box .content h3
{
  font-size: 1.8em;
  color: #777;
  z-index: 1;
  transition: 10000000s; //card lopala heading
}

.container .card .box .content p
{
  font-size: 1em;
  font-weight: 300;
  color: #777;
  z-index: 1;
  transition: 1000000s; // card lopala content
}

.container .card:hover .box .content h3,
.container .card:hover .box .content p
{
  color: #fff;

}

.container .card .box .content a
{
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  background: #03a9f4;
  margin-top: 15px;
  border-radius: 20px;
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.container .card:hover .box .content a
{
  background: #ff568f;
}

.home
{
  position: absolute;
  right: 180px;
  top:30px;
}

.link
{
  text-decoration: none;
  padding-right: 25px;
  color: black;
}

.neon {
  color: black;
}

img
{
  width: 120px;
}
